[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
websockets = "*"
aioredis = "*"
broadcaster = "*"
unicorn = "*"
starlette = "*"
Jinja2 = "*"
asyncio-redis = "*"
gremlinpython = "==3.4.6"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.ariadne]
git = "ssh://github.com/mirumee/ariadne.git"
ref = "master"
